{% extends 'Licencia/indice.html' %}
{% load static %}

{% block central %}
    <h2 style="color: coral;">LISTA DE USUARIOS</h2>
    <ul>
    {% for n in usuario  %}
       
    <li> {{n.nombre}} / {{n.apellido}} / {{n.motivo}} 
            <a href="{% url 'licencia-detalle' n.id %}">Detalle</a>
        {% if user.is_authenticated %}
            <a href="{% url 'licencia-actualizar' n.id %}">Actualizar </a>
            <a href="{% url 'licencia-borrar' n.id %}">Borrar</a>
        {% endif %}
    </li>
    
       {% endfor %}
    </ul>
{% endblock %}

